{% extends  'base..html' %}
{% block title %} Contact {% endblock title %}
{% block body %}
<div class="carousel-item active">
      <img src="/static/img1/2.jfif" class="d-block w-14" alt="...">


 <div class="container">

<h1 class="text-center">Contact us</h1>

<form method="post" action="/Contact/">
    {% csrf_token %}
     <div class="mb-0">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email"name="email" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-1">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<h3> we will mail you asap  for your satisfaction</h3>
{% endblock body %}
